[Desktop Entry]
Name=Stack Wallet
Comment=Open-source non-custodial cryptocurrency wallet
Exec=stack_wallet
Icon=com.cypherstack.stackwallet
Type=Application
Categories=Finance;
