[Desktop Entry]
Name=Stack Duo
Comment=An open-source, multicoin wallet for everyone
Exec=stack_duo
Icon=com.cypherstack.stackduo
Type=Application
Categories=Finance;
